.header.header__hotel{
  position: relative;
  
}
.burger__icon.burger__icon--dark{
  stroke: $stroke-color-menu;
}
.nav__link.nav__link--hotel{
  color: $text-color-primary;
}
.logo.logo--dark{
  color: $text-color-primary;
}
.logo__accent.logo__accent--dark{
  color: $text-color-primary;
}
.socials__icon.socials__icon--instagram{
  background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 6px;
}
.socials__icon.socials__icon--facebook{
background-color: $background-color-icon;
  border-radius: 50%;
  fill: $fill-color-icon;
  stroke: $stroke-color-icon;
}

.socials__icon.socials__icon--twitter{
  background-color: $background-color-icon;
  border-radius: 50%; 
  fill: $fill-color-icon;
  stroke: $stroke-color-icon;
}

