.about {
  &__wrap {
    position: relative;
    @include screen(desktop) {
      display: flex;
      gap: 364px;
      align-content: center;
    }
  }

  &__thumb {
    // position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
  }
  &__img-secondary {
    @include screen(tablet) {
      position: absolute;
      top: 209px;
      left: 300px;
      z-index: 2;
    }
  }
  &__review {
    position: absolute;
    top: 420px;
    left: 123px;
    z-index: 3;

    @include screen(tablet) {
      top: 176px;
      left: 370px;
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @include screen(tablet) {
      width: 472px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}
