<section class="section rest-about">
  <div class="container">
    <div class="rest-about__wrap">
      <h2 class="visually-hidden">ABOUT RESTAURANT</h2>

      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /src/images/restaurant/rest2@desk1x.jpg 1x,
            /src/images/restaurant/rest2@desk2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /src/images/restaurant/rest2@tabl1x.jpg 1x,
            /src/images/restaurant/rest2@tabl2x.jpg 2x
          "
        />
        <img
          class=""
          src="/src/images/restaurant/rest2@mob1x.jpg"
          alt=""
          width="335"
          height="443"
        />
      </picture>
      <div class="pict__gap">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /src/images/restaurant/rest3@desk1x.jpg 1x,
              /src/images/restaurant/rest3@desk2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/restaurant/rest3@tabl1x.jpg 1x,
              /src/images/restaurant/rest3@tabl2x.jpg 2x
            "
          />
          <img
            class=""
            src="/src/images/restaurant/rest3@mob1x.jpg"
            alt=""
            width="158"
            height="149"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /src/images/restaurant/rest4@desk1x.jpg 1x,
              /src/images/restaurant/rest4@desk2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/restaurant/rest4@tabl1x.jpg 1x,
              /src/images/restaurant/rest4@tabl2x.jpg 2x
            "
          />
          <img
            class=""
            src="/src/images/restaurant/rest4@mob1x.jpg"
            alt=""
            width="157"
            height="149"
          />
        </picture>
      </div>
      <ul>
        <li class="text rest-about__list">
          At Mimino, we are experts in
          <span class="text__italic">meat preparation</span>. Our chefs use only
          the finest and freshest ingredients to
          <span class="text__italic">create delicious dishes</span> that
          showcase the flavors of premium cuts of meat.
        </li>
        <li class="text rest-about__list">
          Our <span class="text__italic">slow-cooking process</span> and expert
          seasoning bring out the best in each dish, making for an unforgettable
          dining experience. Come taste the magic
          <span class="text__italic">of meat preparation at </span>Mimino.
        </li>
      </ul>
    </div>
  </div>
</section>
