<header class="header header__hotel">
  <div class="container container__hotel">
    <div class="header__wrap">
      <button class="burger">
        <i class="burger__icon burger__icon--dark" data-feather="menu"></i>
      </button>

      <nav>
        <ul class="nav">
          <li class="nav__item">
            <a href="/src/index.html" class="nav__link nav__link--hotel"
              >Home</a
            >
          </li>
          <li class="nav__item">
            <a href="/src/hotel.html" class="nav__link nav__link--hotel current"
              >Hotel</a
            >
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link nav__link--hotel">Restaurant</a>
          </li>
        </ul>
      </nav>

      <a class="logo logo--dark" href="#">
        Mimino
        <span class="logo__accent logo__accent--dark"
          >restaurant-hotel complex</span
        >
      </a>

      <ul class="socials">
        <li class="socials__item">
          <a href="http://" class="socials__link">
            <i
              class="socials__icon socials__icon--instagram"
              data-feather="instagram"
            ></i>
          </a>
        </li>
        <li class="socials__item">
          <a href="http://" class="socials__link socials__icon--facebook">
            <i
              class="socials__icon socials__icon--facebook"
              data-feather="facebook"
            ></i>
          </a>
        </li>
        <li class="socials__item">
          <a href="http://" class="socials__link socials__icon--twitter">
            <i
              class="socials__icon socials__icon--twitter"
              data-feather="twitter"
            ></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
