<header class="header">
  <div class="container">
    <div class="header__wrap">
      <button class="burger">
        <i class="burger__icon" data-feather="menu"></i>
      </button>

      <nav>
        <ul class="nav">
          <li class="nav__item">
            <a href="/src/index.html" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="/src/hotel.html" class="nav__link">Hotel</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Restaurant</a>
          </li>
        </ul>
      </nav>

      <a class="logo" href="#">
        Mimino
        <span class="logo__accent">restaurant-hotel complex</span>
      </a>

      <ul class="socials">
        <li class="socials__item">
          <a href="http://" class="socials__link">
            <i class="socials__icon" data-feather="instagram"></i>
          </a>
        </li>
        <li class="socials__item">
          <a href="http://" class="socials__link">
            <i class="socials__icon" data-feather="facebook"></i>
          </a>
        </li>
        <li class="socials__item">
          <a href="http://" class="socials__link">
            <i class="socials__icon" data-feather="twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
