@mixin reset-link {
  color: inherit;
  text-decoration: none;
}

@mixin reset-img {
  display: block;
  max-width: 100%;
  height: auto;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-btn {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

// * без передачи параметров
/* @mixin section {
  padding-top: 0;
  padding-bottom: 120px;
}

.application {
  @include section(0);
} */

// * c передачей параметров
@mixin section($pt: 96px, $pb: 96px) {
  padding-top: $pt;
  padding-bottom: $pb;

  @include screen(desktop) {
    @if $pt == 0 {
      padding-top: 0;
      padding-bottom: 120px;
    } @else {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
}

/*
.application {
  @include section(0, 50px);
 or
 @include section(0);
}
*/

// * если параметры совпадают
/* 
@mixin section($pt: 120, $pb: $pt) {
  padding-top: $pt;
  padding-bottom: $pb;
}

.application {
  @include section;
 or
 @include section(50px);
} */

// !Centering
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// * Vertical centering
@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}

// !MEDIA

/* 1й вариант
@mixin breakpoint($point) {
  @if $point == large {
    @media only screen and (min-width: 1366px) {
      @content;
    }
  } @else if $point == desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }
}
*/

/* 2й вариант 
@mixin desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: 375px) {
    @content;
  }
}
@mixin mobile-only {
  @media screen and (max-width: 767px) {
    @content;
  }
}
*/

/* 3й вариант */
@mixin screen($size) {
  $desktop: '(min-width: 1440px)';
  // $tablet: "(min-width: 768px) and (max-width: 1023px)";
  $tablet: '(min-width: 768px)';
  $mobile-max: '(max-width: 767px)';
  $mobile: '(min-width: 428px)';

  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  } @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  } @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  } @else if $size == mobile-max {
    @media only screen and #{$mobile-max} {
      @content;
    }
  } @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}

// * Retina Images
/* @mixin retina($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
    // Serving 2x image on Retina display
    background-image: url($image);
    background-size: $width $height;
  }
} */
