

.section.section--hero {
  padding-top: 40px;
  padding-bottom: 0;
  margin: 0;
}

.container.container--hero{
  padding-right: 0;
}
.hero-hotel__list-btn{
  display: flex;
  margin-top: 24px;
  gap: 12px;
}
.hero-hotel__list-img{
 margin-top: 40px; 
 @include screen(desktop){
  margin-top: 0;
 }
}
.hero-hotel__group-elements{
  padding-right: 20px;
}
.slider__btn{
  display: flex;
  justify-content: end;
  gap: 32px;
  margin-top: 24px;
}
.hero-hotel__text{
  @include text-main-mobile;
  text-transform: uppercase;
  margin-top: 40px;
  max-width: 335px;
}
// -------- style for swiper 
.hotel-swiper{
  overflow: hidden;
  
}
.hero-hotel__list-img .swiper-slide{
max-width: 255px;
@include screen(tablet) {
  max-width: 436px;
}

}
.btn--left.swiper-button-disabled,.btn--right.swiper-button-disabled{
   color: $btn-disabled;
}
.flex__desktop--wraper{
  @include screen(desktop){
    display: flex;
    gap: 400px;
  }
}