.hero {
  background-color: $bg-color-dark;
  background-image: url('../images/main/hero/mobile-hero-bg@1x.jpg');
  background-position: center 118px;
  background-size: 335px 439px;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url('../images/main/hero/mobile-hero-bg@2x.jpg');
  }

  @include screen(tablet) {
    background-image: url('../images/main/hero/tablet-hero-bg@1x.jpg');
    background-position: center 128px;
    background-size: 542px 710px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url('../images/main/hero/tablet-hero-bg@2x.jpg');
  }

  @include screen(desktop) {
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/main/hero/desktop-hero-bg@1x.jpg');
    background-position: calc(50% + 449px);
    background-size: 542px 770px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
    screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px) {
    background-image: url('../images/main/hero/desktop-hero-bg@2x.jpg');
  }

  &__wrap {
    height: 909px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include screen(tablet) {
      height: 1024px;
    }

    @include screen(desktop) {
      height: 770px;
      align-items: flex-start;
    }
  }

  &__title {
    color: $text-color-secondary;
    font-weight: 400;
    font-size: 75px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;

    @include screen(tablet) {
      font-size: 150px;
      margin-bottom: 32px;
    }

    @include screen(desktop) {
      font-size: 180px;
      text-align: start;
      margin-bottom: 196px;
    }
  }

  &__content {
    margin-bottom: 40px;

    @include screen(tablet) {
      margin-bottom: 38px;
    }

    @include screen(desktop) {
      margin-bottom: 48px;
      display: flex;
      justify-content: flex-start;
      gap: 250px;
      flex-direction: row-reverse;
    }
  }

  &__btn-set {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-bottom: 66px;

    @include screen(tablet) {
      gap: 32px;
      margin-bottom: 86px;
    }

    @include screen(desktop) {
      gap: 14px;
      margin-bottom: 0;
    }
  }

  &__btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $text-color-secondary;
    padding: 8px 18px;
    border: 0.8px solid $text-color-secondary;
    border-radius: 32px;

    transition: color $transition-dur-func,
      background-color $transition-dur-func;

    &:hover,
    &:focus {
      background-color: $bg-color-light;
      color: $text-color-primary;
    }

    @include screen(tablet) {
      line-height: 1.71;
      padding: 8px 24px;
    }

    @include screen(desktop) {
      padding: 9px 24px;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: -0.02em;
    }
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;

    @include screen(tablet) {
      flex-direction: row;
      min-width: 700px;
      gap: 32px;
    }

    @include screen(desktop) {
      max-width: 684px;
      gap: 30px;
    }
  }

  &__text {
    color: $text-color-gray-light;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
