<section class="section">
  <div class="container">
    <ul class="group-room">
      <!-- DOUBLE LUXURY ROOM  luxury-->
      <li>
        <ul class="luxury__img-list">
          <li class="luxury__img-item1">
            <picture class="">
              <!-- Desctop -->
              <source
                type="image/jpg"
                media="(min-width: 1440px)"
                srcset="
                  ./images/hotel/about-complex/desktop/luxery1.jpg    1x,
                  ./images/hotel/about-complex/desktop/luxery1@2x.jpg 2x
                "
              />
              <!-- !Mobile--Tablet -->

              <source
                type="image/jpg"
                media="(max-width: 767px)"
                srcset="
                  ./images/hotel/about-complex/dabl-room1.jpg    1x,
                  ./images/hotel/about-complex/dabl-room1@2x.jpg 2x
                "
              />
              <img
                src="./images/hotel/about-complex/dabl-room1.jpg"
                alt="dabl-room1"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="luxury__img-item2">
            <picture class="">
              <!-- Desctop -->
              <source
                type="image/jpg"
                media="(min-width: 1440px)"
                srcset="
                  ./images/hotel/about-complex/desktop/luxery3.jpg    1x,
                  ./images/hotel/about-complex/desktop/luxery3@2x.jpg 2x
                "
              />
              <!-- !Tablet -->
              <source
                type="image/jpg"
                media="(min-width: 768px)"
                srcset="
                  ./images/hotel/about-complex/tablet/luxury2.jpg    1x,
                  ./images/hotel/about-complex/tablet/luxury2@2x.jpg 2x
                "
              />
              <!-- !Mobile -->

              <source
                type="image/jpg"
                media="(max-width: 767px)"
                srcset="
                  ./images/hotel/about-complex/dabl-room2.jpg    1x,
                  ./images/hotel/about-complex/dabl-room2@2x.jpg 2x
                "
              />
              <img
                src="./images/hotel/about-complex/dabl-room2.jpg"
                alt="dabl-room2"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="luxury__img-item3">
            <picture class="">
              <source
                type="image/jpg"
                media="(min-width: 1440px)"
                srcset="
                  ./images/hotel/about-complex/desktop/luxery2.jpg    1x,
                  ./images/hotel/about-complex/desktop/luxery2@2x.jpg 2x
                "
              />
              <!-- !Tablet -->

              <source
                type="image/jpg"
                media="(min-width: 768px)"
                srcset="
                  ./images/hotel/about-complex/tablet/luxury3.jpg    1x,
                  ./images/hotel/about-complex/tablet/luxury3@2x.jpg 2x
                "
              />
              <!-- !Mobile -->

              <source
                type="image/jpg"
                media="(max-width: 767px)"
                srcset="
                  ./images/hotel/about-complex/dabl-room3.jpg    1x,
                  ./images/hotel/about-complex/dabl-room3@2x.jpg 2x
                "
              />
              <img
                src="./images/hotel/about-complex/dabl-room3.jpg"
                alt="dabl-room3"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <div class="wraper--relitive">
          <h2 class="title title--luxury">DOUBLE LUXURY ROOM</h2>
          <ul class="text__luxury-list">
            <li class="text__luxury-item">
              <p class="text__luxury">
                Experience luxury in our Double Luxury Room at Mimino Hotel.
                This spacious room features a comfortable bed, private bathroom,
                flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
                curtains, and soundproofing ensure a peaceful night's sleep.
              </p>
            </li>
            <li class="text__luxury-item2">
              <p class="text__luxury">
                Relax after a busy day at the writing desk or armchair. Book now
                for a convenient and comfortable stay.
              </p>
            </li>
          </ul>
          <div class="link__luxury-list">
            <a
              href="#"
              class="btn hotel-hero__btn"
              target="_blank"
              rel="noopener noreferrer"
              >More details</a
            >

            <button
              class="btn js-open-modal hotel-hero__btn"
              type="button"
              data-modal="modal-price"
            >
              View prices
            </button>
          </div>
        </div>
      </li>
      <!-- Triple Room -->
      <li>
        <ul class="luxury__img-list">
          <li class="luxury__img-item1">
            <picture class="">
              <!-- Desctop -->
              <source
                type="image/jpg"
                media="(min-width: 1440px)"
                srcset="
                  ./images/hotel/about-complex/desktop/luxery1.jpg    1x,
                  ./images/hotel/about-complex/desktop/luxery1@2x.jpg 2x
                "
              />
              <!-- !Mobile--Tablet -->

              <source
                type="image/jpg"
                media="(max-width: 767px)"
                srcset="
                  ./images/hotel/about-complex/dabl-room1.jpg    1x,
                  ./images/hotel/about-complex/dabl-room1@2x.jpg 2x
                "
              />
              <img
                src="./images/hotel/about-complex/dabl-room1.jpg"
                alt="dabl-room1"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="luxury__img-item2">
            <picture class="">
              <!-- Desctop -->
              <source
                type="image/jpg"
                media="(min-width: 1440px)"
                srcset="
                  ./images/hotel/about-complex/desktop/luxery3.jpg    1x,
                  ./images/hotel/about-complex/desktop/luxery3@2x.jpg 2x
                "
              />
              <!-- !Tablet -->
              <source
                type="image/jpg"
                media="(min-width: 768px)"
                srcset="
                  ./images/hotel/about-complex/tablet/luxury2.jpg    1x,
                  ./images/hotel/about-complex/tablet/luxury2@2x.jpg 2x
                "
              />
              <!-- !Mobile -->

              <source
                type="image/jpg"
                media="(max-width: 767px)"
                srcset="
                  ./images/hotel/about-complex/dabl-room2.jpg    1x,
                  ./images/hotel/about-complex/dabl-room2@2x.jpg 2x
                "
              />
              <img
                src="./images/hotel/about-complex/dabl-room2.jpg"
                alt="dabl-room2"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="luxury__img-item3">
            <picture class="">
              <source
                type="image/jpg"
                media="(min-width: 1440px)"
                srcset="
                  ./images/hotel/about-complex/desktop/luxery2.jpg    1x,
                  ./images/hotel/about-complex/desktop/luxery2@2x.jpg 2x
                "
              />
              <!-- !Tablet -->

              <source
                type="image/jpg"
                media="(min-width: 768px)"
                srcset="
                  ./images/hotel/about-complex/tablet/luxury3.jpg    1x,
                  ./images/hotel/about-complex/tablet/luxury3@2x.jpg 2x
                "
              />
              <!-- !Mobile -->

              <source
                type="image/jpg"
                media="(max-width: 767px)"
                srcset="
                  ./images/hotel/about-complex/dabl-room3.jpg    1x,
                  ./images/hotel/about-complex/dabl-room3@2x.jpg 2x
                "
              />
              <img
                src="./images/hotel/about-complex/dabl-room3.jpg"
                alt="dabl-room3"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <div class="wraper--relitive">
          <h2 class="title title--luxury">DOUBLE LUXURY ROOM</h2>
          <ul class="text__luxury-list">
            <li class="text__luxury-item">
              <p class="text__luxury">
                Experience luxury in our Double Luxury Room at Mimino Hotel.
                This spacious room features a comfortable bed, private bathroom,
                flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
                curtains, and soundproofing ensure a peaceful night's sleep.
              </p>
            </li>
            <li class="text__luxury-item2">
              <p class="text__luxury">
                Relax after a busy day at the writing desk or armchair. Book now
                for a convenient and comfortable stay.
              </p>
            </li>
          </ul>
          <div class="link__luxury-list">
            <a
              href="#"
              class="btn hotel-hero__btn"
              target="_blank"
              rel="noopener noreferrer"
              >More details</a
            >

            <button
              class="btn js-open-modal hotel-hero__btn"
              type="button"
              data-modal="modal-price"
            >
              View prices
            </button>
          </div>
        </div>
      </li>
      <!-- four-seater room -->
      <li>
        <ul class="luxury__img-list">
          <li class="luxury__img-item1">
            <picture class="">
              <!-- Desctop -->
              <source
                type="image/jpg"
                media="(min-width: 1440px)"
                srcset="
                  ./images/hotel/about-complex/desktop/luxery1.jpg    1x,
                  ./images/hotel/about-complex/desktop/luxery1@2x.jpg 2x
                "
              />
              <!-- !Mobile--Tablet -->

              <source
                type="image/jpg"
                media="(max-width: 767px)"
                srcset="
                  ./images/hotel/about-complex/dabl-room1.jpg    1x,
                  ./images/hotel/about-complex/dabl-room1@2x.jpg 2x
                "
              />
              <img
                src="./images/hotel/about-complex/dabl-room1.jpg"
                alt="dabl-room1"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="luxury__img-item2">
            <picture class="">
              <!-- Desctop -->
              <source
                type="image/jpg"
                media="(min-width: 1440px)"
                srcset="
                  ./images/hotel/about-complex/desktop/luxery3.jpg    1x,
                  ./images/hotel/about-complex/desktop/luxery3@2x.jpg 2x
                "
              />
              <!-- !Tablet -->
              <source
                type="image/jpg"
                media="(min-width: 768px)"
                srcset="
                  ./images/hotel/about-complex/tablet/luxury2.jpg    1x,
                  ./images/hotel/about-complex/tablet/luxury2@2x.jpg 2x
                "
              />
              <!-- !Mobile -->

              <source
                type="image/jpg"
                media="(max-width: 767px)"
                srcset="
                  ./images/hotel/about-complex/dabl-room2.jpg    1x,
                  ./images/hotel/about-complex/dabl-room2@2x.jpg 2x
                "
              />
              <img
                src="./images/hotel/about-complex/dabl-room2.jpg"
                alt="dabl-room2"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="luxury__img-item3">
            <picture class="">
              <source
                type="image/jpg"
                media="(min-width: 1440px)"
                srcset="
                  ./images/hotel/about-complex/desktop/luxery2.jpg    1x,
                  ./images/hotel/about-complex/desktop/luxery2@2x.jpg 2x
                "
              />
              <!-- !Tablet -->

              <source
                type="image/jpg"
                media="(min-width: 768px)"
                srcset="
                  ./images/hotel/about-complex/tablet/luxury3.jpg    1x,
                  ./images/hotel/about-complex/tablet/luxury3@2x.jpg 2x
                "
              />
              <!-- !Mobile -->

              <source
                type="image/jpg"
                media="(max-width: 767px)"
                srcset="
                  ./images/hotel/about-complex/dabl-room3.jpg    1x,
                  ./images/hotel/about-complex/dabl-room3@2x.jpg 2x
                "
              />
              <img
                src="./images/hotel/about-complex/dabl-room3.jpg"
                alt="dabl-room3"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <div class="wraper--relitive">
          <h2 class="title title--luxury">DOUBLE LUXURY ROOM</h2>
          <ul class="text__luxury-list">
            <li class="text__luxury-item">
              <p class="text__luxury">
                Experience luxury in our Double Luxury Room at Mimino Hotel.
                This spacious room features a comfortable bed, private bathroom,
                flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
                curtains, and soundproofing ensure a peaceful night's sleep.
              </p>
            </li>
            <li class="text__luxury-item2">
              <p class="text__luxury">
                Relax after a busy day at the writing desk or armchair. Book now
                for a convenient and comfortable stay.
              </p>
            </li>
          </ul>
          <div class="link__luxury-list">
            <a
              href="#"
              class="btn hotel-hero__btn"
              target="_blank"
              rel="noopener noreferrer"
              >More details</a
            >

            <button
              class="btn js-open-modal hotel-hero__btn"
              type="button"
              data-modal="modal-price"
            >
              View prices
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
