.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  &--accent {
    font-size: 32px;
    line-height: 1.12;
    color: $text-color-black;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: $text-color-gray;
  margin-bottom: 18px;
}
