.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--bg-dark-color);

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 72px;

    @include screen(tablet) {
      max-width: 530px;
    }

    @include screen(desktop) {
      flex-direction: row;
      gap: 120px;
      min-width: 1200px;
      padding-left: 15px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;

    @include screen(tablet) {
      flex-direction: row;
      gap: 24px;
      align-items: flex-start;
    }

    @include screen(desktop) {
      gap: 24px;
    }
  }

  &__logo-wrap {
    max-width: 268px;
  }

  &__logo {
    display: block;
    margin-bottom: 16px;
    text-align: center;

    @include screen(tablet) {
      max-width: 264px;
      text-align: left;
    }
  }

  &__text {
    color: var(--text-accent-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  &__social-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__content-text {
    color: var(--text-white-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    @include screen(tablet) {
      text-align: left;
    }
  }

  &__socials {
    // display: flex;
    gap: 16px;
    // justify-content: center;
  }
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
