.header {
  position: absolute;
  width: 100%;

  &--light-text {
    color: $text-color-fone;
  }

  &--dark-text {
    color: $text-color-primary;
  }

  &__wrap {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    @include screen(tablet) {
      // justify-content: space-between;
    }
  }
}
