.nav {
  display: none;

  @include screen(desktop) {
    display: flex;
    align-items: center;
    gap: 32px;

    &__link {
      position: relative;
      color: currentColor;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      &::after {
        opacity: 0;
        visibility: 0;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%);
        content: '';
        width: 5px;
        height: 5px;
        background-color: currentColor;
        border-radius: 50%;
        transition: all $transition-dur-func;
      }

      &:hover::after {
        width: 100%;
        opacity: 1;
        visibility: 1;
        border-radius: 16px;
      }

      &--active.nav__link::after {
        visibility: 1;
        opacity: 1;
      }
    }
  }
}
