<!-- !ABOUT section -->
<section class="section about">
  <div class="container">
    <div class="about__wrap">
      <h2 class="visually-hidden">About</h2>
      <div class="about__thumb">
        <picture class="about__img-primary">
          <!-- ?Tablet -->
          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ./images/main/about/tablet-img2.webp    1x,
              ./images/main/about/tablet-img2@2x.webp 2x
            "
          />
          <source
            type="image/jpg"
            media="(min-width: 768px)"
            srcset="
              ./images/main/about/tablet-img2.jpg    1x,
              ./images/main/about/tablet-img2@2x.jpg 2x
            "
          />
          <!-- ?Mobile -->
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./images/main/about/mobile-img2.webp    1x,
              ./images/main/about/mobile-img2@2x.webp 2x
            "
          />
          <source
            type="image/jpg"
            media="(max-width: 767px)"
            srcset="
              ./images/main/about/mobile-img2.jpg    1x,
              ./images/main/about/mobile-img2@2x.jpg 2x
            "
          />
          <img
            src="./images/main/about/mobile-img2.jpg"
            alt="Restaurant room"
            loading="lazy"
          />
        </picture>

        <picture class="about__img-secondary">
          <!-- ?Desktop -->
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="
              ./images/main/about/desktop-img.webp    1x,
              ./images/main/about/desktop-img@2x.webp 2x
            "
          />
          <source
            type="image/jpg"
            media="(min-width: 1440px)"
            srcset="
              ./images/main/about/desktop-img.jpg    1x,
              ./images/main/about/desktop-img@2x.jpg 2x
            "
          />
          <!-- ?Tablet -->
          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ./images/main/about/tablet-img.webp    1x,
              ./images/main/about/tablet-img@2x.webp 2x
            "
          />
          <source
            type="image/jpg"
            media="(min-width: 768px)"
            srcset="
              ./images/main/about/tablet-img.jpg    1x,
              ./images/main/about/tablet-img@2x.jpg 2x
            "
          />

          <!-- ?Mobile -->
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./images/main/about/mobile-img.webp    1x,
              ./images/main/about/mobile-img@2x.webp 2x
            "
          />
          <source
            type="image/jpg"
            media="(max-width: 767px)"
            srcset="
              ./images/main/about/mobile-img.jpg    1x,
              ./images/main/about/mobile-img@2x.jpg 2x
            "
          />

          <img
            src="./images/main/about/mobile-img.jpg"
            alt="Restaurant room"
            loading="lazy"
          />
        </picture>

        <div class="review about__review">
          <img src="./images/avatars/avatar01.png" alt />
          <ul class="review__list">
            <li class="review__item">Maria</li>
            <li class="review__item">
              <span class="review__accent">give rating</span>&nbsp;4.5
            </li>
          </ul>
        </div>
      </div>

      <div class="about__meta">
        <h3 class="subtitle-main">restaurant-hotel complex</h3>
        <div class="about__content">
          <p class="text">
            Indulge in a taste of luxury with every bite at Hotel Mimino. From
            the freshest seafood to the most succulent steaks, every dish is
            crafted with care to ensure that you enjoy a truly memorable dining
            experience.
          </p>
          <p class="text">
            Treat yourself to a taste of the good life and come dine with us
            today!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
