<!-- !HERO section -->
<section class="hero">
  <div class="container">
    <div class="hero__wrap">
      <h1 class="hero__title">Mimino</h1>

      <div class="hero__btns">
        <ul class="btn-set hero__btn-set">
          <li>
            <button class="btn hero__btn js-open-modal" data-modal="modal-room">
              book a room
            </button>
          </li>
          <li>
            <button
              class="btn hero__btn js-open-modal"
              data-modal="modal-table"
            >
              book a table
            </button>
          </li>
        </ul>

        <div class="hero__content">
          <p class="text hero__text">
            Whether you're in the mood for a hearty breakfast, a light lunch, or
            <i>a romantic dinner</i>, our menu has something for everyone.
          </p>
          <p class="text hero__text">
            At Hotel Mimino, <i>we believe</i> that great food should be
            available to everyone, no matter the time of day.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
